<section class="experience" id="gallery">
  <div class="container">
    <h2 class="experience-titel">Coffee Moments</h2>
    <p class="experience-txt">
      Experience the warmth and community of CoffeeJoy.
    </p>

    <ul class="experience-list">
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desc/img-desk-1-min.jpg    1x,
              /img/experience/desc/img-desk-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tab/img-tab-1-min.jpg    1x,
              /img/experience/tab/img-tab-1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mob/img-mob-1-min.jpg    1x,
              /img/experience/mob/img-mob-1@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            src="/img/experience/desc/img-desk-1-min.jpg"
            alt="coffee cup"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desc/img-desk-2-min.jpg    1x,
              /img/experience/desc/img-desk-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tab/img-tab-2-min.jpg    1x,
              /img/experience/tab/img-tab-2@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mob/img-mob-2-min.jpg    1x,
              /img/experience/mob/img-mob-2@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            src="/img/experience/desc/img-desk-2-min.jpg"
            alt="coffee cup"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desc/img-desk-3-min.jpg    1x,
              /img/experience/desc/img-desk-3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tab/img-tab-3-min.jpg    1x,
              /img/experience/tab/img-tab-3@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mob/img-mob-3-min.jpg    1x,
              /img/experience/mob/img-mob-3@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            src="/img/gallery/desc/img-desk-3-min.jpg"
            alt="coffee cup"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desc/img-desk-4-min.jpg    1x,
              /img/experience/desc/img-desk-4@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tab/img-tab-4-min.jpg    1x,
              /img/experience/tab/img-tab-4@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mob/img-mob-4-min.jpg    1x,
              /img/experience/mob/img-mob-4@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            src="/img/experience/desc/img-desk-4-min.jpg"
            alt="coffee cup"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desc/img-desk-5-min.jpg    1x,
              /img/experience/desc/img-desk-5@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tab/img-tab-5-min.jpg    1x,
              /img/experience/tab/img-tab-5@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mob/img-mob-5-min.jpg    1x,
              /img/experience/mob/img-mob-5@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            src="/img/experience/desc/img-desk-5-min.jpg"
            alt="coffee cup"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desc/img-desk-6-min.jpg    1x,
              /img/experience/desc/img-desk-6@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tab/img-tab-6-min.jpg    1x,
              /img/experience/tab/img-tab-6@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mob/img-mob-6-min.jpg    1x,
              /img/experience/mob/img-mob-6@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            src="/img/experience/desc/img-desk-6-min.jpg"
            alt="coffee cup"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desc/img-desk-7-min.jpg    1x,
              /img/experience/desc/img-desk-7@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tab/img-tab-7-min.jpg    1x,
              /img/experience/tab/img-tab-7@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mob/img-mob-7-min.jpg    1x,
              /img/experience/mob/img-mob-7@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img tab-ful-scren"
            src="/img/experience/desc/img-desk-7-min.jpg"
            alt="coffee cup"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
