<header class="header">
  <div class="container">
    <a href="" class="header-logo">
      <img src="/img/logo/logo.svg" alt="назва веб-сторінки" />
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="#about-us">About us</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#testimonial">Testimonial</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
    <button class="menu-btn" menu-open>
      <svg class="" width="16" height="12">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
