<div class="mobile-menu" id="mobilemenu" data-menu>
  <div class="container">
    <div class="menu-header">
      <a href="index.html" class="logo">
        <svg class="icon-logo" width="84" height="36">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <button class="close-btn" type="button" data-menu-close>
        <svg class="icon-menu-close" width="24" height="24">
          <use href="/img/sprite.svg#icon-menu-close"></use>
        </svg>
      </button>
    </div>
    <nav class="menu-content">
      <ul class="mob-nav-list">
        <li class="mob-nav-list-item"><a href="#about-us">About us</a></li>
        <li class="mob-nav-list-item"><a href="#benefits">Benefits</a></li>
        <li class="mob-nav-list-item"><a href="#gallery">Gallery</a></li>
        <li class="mob-nav-list-item">
          <a href="#testimonial">Testimonial</a>
        </li>
        <li class="mob-nav-list-item"><a href="#location">Location</a></li>
      </ul>
    </nav>
  </div>
</div>
