<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mobile menu</title>
  <link rel="stylesheet" href="../css/mobile-menu.css">
</head>
<body>
  <section class="mobile-menu is-open" id="mobileMenu">
    <div class="menu-header">
      <div class="logo">
        <svg class="icon-logo" width="84" height="36">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
      </div>
      <button class="close-btn" type="button">
        <svg class="icon-menu-close" width="24" height="24">
          <use href="../img/sprite.svg#icon-menu-close"></use>
        </svg>
      </button>
    </div>
  <div class="container ">
    <div class="menu-content">
        <nav class="menu-links-list">
          <ul class="nav-list">
            <li class="nav-list-item"><a href="#about-us">About us</a></li>
            <li class="nav-list-item"><a href="#benefits">Benefits</a></li>
            <li class="nav-list-item"><a href="#gallery">Gallery</a></li>
            <li class="nav-list-item"><a href="#testimonial">Testimonial</a></li>
            <li class="nav-list-item"><a href="#location">Location</a></li>
          </ul>
        </nav>
      </div>
  </div>
</section>
</body>
</html>



