<div class="modal-overlay" data-modal>
  <div class="modal-backdrop">
    <button class="close-modal-btn" data-modal-close>
      <svg class="close-modal-svg" width="16" height="16">
        <use href="/img/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
    <p class="modal-text">
      Fresh brews, special offers, and cozy updates are coming your way.
    </p>
    <picture>
      <source
        srcset="
          /img/successful/desktop/additional-desktop-img.webp    1x,
          /img/successful/desktop/additional-desktop-img@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /img/successful/desktop/additional-desktop-img.jpg    1x,
          /img/successful/desktop/additional-desktop-img@2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /img/successful/tablet/additional-tablet-img.webp    1x,
          /img/successful/tablet/additional-tablet-img@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          /img/successful/tablet/additional-tablet-img.jpeg    1x,
          /img/successful/tablet/additional-tablet-img@2x.jpeg 2x
        "
        type="image/jpeg"
        media="(min-width:768px)"
      />
      <source
        srcset="
          /img/successful/mobile/additional-mobile-img.webp    1x,
          /img/successful/mobile/additional-mobile-img@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          /img/successful/mobile/additional-mobile-img.jpg    1x,
          /img/successful/mobile/additional-mobile-img@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img
        class="modal-img"
        src="/img/successful/desktop/additional-mobile-img.jpg"
        alt="coffee on the table"
      />
    </picture>

    <button class="modal-btn">Close</button>
  </div>
</div>
