<section class="quality" id="quality">
  <div class="container quality-container">
    <p class="quality-tagline">Quality</p>
    <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-text">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <div class="quality-content">
      <ul class="quality-list">
        <li class="quality-item">
          <picture>
            <source
              media="(min-width:1158px)"
              srcset="
                /img/quality/mob-img1-min.jpg    1x,
                /img/quality/desk-img1@2-min.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /img/quality/tab-img1-min.jpg   1x,
                /img/quality/tab-img1@2-min.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /img/quality/mob-img1-min.jpg   1x,
                /img/quality/mob-img1@2-min.jpg 2x
              "
            />
            <img
              class="quality-picture"
              src="/img/quality/desk-img1-min.jpg"
              alt="content-card 1"
            />
          </picture>
          <h3 class="quality-subtitle">Fresh-Roasted Coffee for Every Taste</h3>
          <p class="quality-text-content">
            Savor the rich flavors of our expertly sourced beans.
          </p>
        </li>

        <li class="quality-item">
          <picture>
            <source
              media="(min-width:1158px)"
              srcset="
                /img/quality/desk-img2-min.jpg   1x,
                /img/quality/desk-img2@2-min.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /img/quality/tab-img2-min.jpg   1x,
                /img/quality/tab-img2@2-min.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /img/quality/mob-img2-min.jpg   1x,
                /img/quality/mob-img2@2-min.jpg 2x
              "
            />
            <img
              class="quality-picture"
              src="/img/quality/desk-img2-min.jpg"
              alt="content-card 2"
            />
          </picture>
          <h3 class="quality-subtitle">
            Expert Baristas Crafting Your Perfect Brew
          </h3>
          <p class="quality-text-content">
            Our baristas are passionate about coffee and skilled in their craft.
          </p>
        </li>

        <li class="quality-item">
          <picture>
            <source
              media="(min-width:1158px)"
              srcset="
                /img/quality/desk-img3-min.jpg   1x,
                /img/quality/desk-img3@2-min.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /img/quality/tab-img3-min.jpg   1x,
                /img/quality/tab-img3@2-min.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /img/quality/mob-img3-min.jpg   1x,
                /img/quality/mob-img3@2-min.jpg 2x
              "
            />
            <img
              class="quality-picture"
              src="/img/quality/desk-img3-min.jpg"
              alt="content-card 3"
            />
          </picture>
          <h3 class="quality-subtitle">Cozy Atmosphere</h3>
          <p class="quality-text-content">
            We don’t just serve coffee — we create a warm and welcoming space
            where every cup feels like home.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
