<link rel="stylesheet" href="../css/subscription.css" />

 <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=Quicksand:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

<section class="subscribe">
  <div class="container"> <h2 class="title-5">Join Our Coffee Community</h2>
          <p class="upper-text">Experience the joy of coffee delivered right to your door. Sign up today!</p>

          <div class="join-subscribe">
          <form class="join-subscribe-form">
            
            <div class="join-subscribe-wraper">
              <label class="join-subscribe-label">
                <input
                  type="email"
                  name="subscribe-email"
                  id="subscribe-email" required
                  class="join-subscribe-input"
                  placeholder="Your Email Here"
                />
              </label>
              <button
                type="submit"
                
                class="join-subscribe-button button-text"
                aria-label="Subscribe button"
              >
                Subscribe
                <svg class="join-subscribe-icon" width="13" height="12">
                  <use href="/img/sprite.svg#icon-subscribe"></use>
                </svg>
              </button>
            </div>
          </form>
          <p class="lower-text">By clicking Get Started, you agree to our Terms and Conditions.</p>
        </div>
        <picture class="join-card-img">
                <source
                  srcset="../img/subscribe/placeholder-mob-min.jpg 1x , ../img/subscribe/placeholder-mob@2x-min.jpg 2x"
                />
                <img
                  class="join-card-img"
                  src="../img/subscribe/placeholder-mob-min.jpg"
                  alt="Placeholder Image"
                  width="288"
                  height="400"
                />
              </picture>
  </div>
  </section>
</section>
