<section class="additional">
  <div class="container">
    <div class="menu-overlay" data-modal>
      <div class="menu-backdrop">
        <button class="close-additional-btn" data-modal-close>
          <svg class="close-additional-svg" width="16" height="16">
            <use href="../img/sprite.svg#icon-menu-close"></use>
          </svg>
        </button>
        <h2 class="additional-title">Welcome to the world of CoffeeJoy!</h2>
        <p class="additional-text">
          Fresh brews, special offers, and cozy updates are coming your way.
        </p>
        <div class="thumb">
          <picture>
            <source
              srcset="
                ../img/additional/desktop/additional-desktop-img.webp    1x,
                ../img/additional/desktop/additional-desktop-img@2x.webp 2x,
                ../img/additional/desktop/additional-desktop-img@3x.webp 3x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                ../img/additional/desktop/additional-desktop-img.jpg    1x,
                ../img/additional/desktop/additional-desktop-img@2x.jpg 2x,
                ../img/additional/desktop/additional-desktop-img@3x.jpg 3x
              "
              type="image/jpeg"
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                ../img/additional/tablet/additional-tablet-img.webp    1x,
                ../img/additional/tablet/additional-tablet-img@2x.webp 2x,
                ../img/additional/tablet/additional-tablet-img@3x.webp 3x
              "
              type="image/webp"
              media="(min-width:768px)"
            />

            <source
              srcset="
                ../img/additional/tablet/additional-tablet-img.jpeg    1x,
                ../img/additional/tablet/additional-tablet-img@2x.jpeg 2x,
                ../img/additional/tablet/additional-tablet-img@3x.jpeg 3x
              "
              type="image/jpeg"
              media="(min-width:768px)"
            />

            <source
              srcset="
                ../img/additional/mobile/additional-mobile-img.webp    1x,
                ../img/additional/mobile/additional-mobile-img@2x.webp 2x,
                ../img/additional/mobile/additional-mobile-img@3x.webp 3x
              "
              type="image/webp"
            />

            <source
              srcset="
                ../img/additional/mobile/additional-mobile-img.jpg    1x,
                ../img/additional/mobile/additional-mobile-img@2x.jpg 2x,
                ../img/additional/mobile/additional-mobile-img@3x.jpg 3x
              "
              type="image/jpeg"
            />

            <img
              class="additional-img"
              src="../img/additional/mobile/additional-mobile-img.jpg"
              alt="coffee on the table"
            />
          </picture>
        </div>
        <button class="additional-btn">Close</button>
      </div>
    </div>
  </div>
</section>
