<section class="testimonials" id="#testimonial">
  <div class="container">
    <h1 class="testimonial-header">What our visitors say</h1>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="testimonial-text-wrapper">
          <ul class="rating-list-icon">
            <li class="rating-item">
              <svg class="rating-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="rating-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="rating-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="rating-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="rating-icon star-trans" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-trans"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonial-text">"Every cup feels like a warm hug! I’m addicted to their seasonal flavors!"</p>
        </div>
        <p class="testiomonial-name">Name Surname</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonial-text-wrapper">
          <ul class="rating-list-icon">
            <li class="rating-item">
              <svg class="rating-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="rating-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="rating-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="rating-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="rating-icon star-trans" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-trans"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonial-text">"CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance is so inviting, and the baristas are always friendly."</p>
        </div>
        <p class="testiomonial-name">Alice Johnson</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonial-text-wrapper">
        <ul class="rating-list-icon">
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonial-text">"I love the variety of blends offered at CoffeeJoy. Every visit feels like a new experience!"</p></div>
        <p class="testiomonial-name">Michael Smith</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonial-text-wrapper">
        <ul class="rating-list-icon">
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon star-trans" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon star-trans" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonial-text">"The pastries are to die for! I can’t resist pairing them with my favorite latte. Highly recommend this spot!"</p>
        </div><p class="testiomonial-name">Emily Davis</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonial-text-wrapper"><ul class="rating-list-icon">
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonial-text">"A cozy little gem! CoffeeJoy has the best cold brew in town. I come here every weekend!"</p>
        </div>
        <p class="testiomonial-name">James Brown</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonial-text-wrapper"><ul class="rating-list-icon">
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon star-trans" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon star-trans" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonial-text">"The atmosphere is perfect for working or relaxing with friends. Their Wi-Fi is fast too!"</p>
        </div><p class="testiomonial-name">Sarah Wilson</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonial-text-wrapper">
          <ul class="rating-list-icon">
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon star-trans" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-trans"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonial-text">"I’m addicted to their seasonal flavors! Each one is crafted with such care and creativity."</p>
        </div>
        <p class="testiomonial-name">Chris Lee</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonial-text-wrapper">
          <ul class="rating-list-icon">
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-black"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon star-trans" width="20" height="20">
              <use href="/img/sprite.svg#icon-star-trans"></use>
            </svg>
          </li>
        </ul>
          <p class="testimonial-text">"I appreciate how they source their coffee beans sustainably. It's great to support such an ethical business!"</p>
        </div>
        <p class="testiomonial-name">Patricia</p>
      </li>

    </ul>
  </div>
</section>
