<section class="welcome">
  <div class="container container-welcome-title">
    Welcome
    <h2 class="section-welcome-title">
      Our Journey: Passion for Quality Coffee
    </h2>
    <p class="section-welcome-text">
      At CoffeeJoy, we believe that every cup tells a story. Our mission is to
      bring you the finest coffee experiences, crafted with care and dedication.
      We are committed to sourcing high-quality beans and roasting them to
      perfection, ensuring each sip is a delight.
    </p>
    <a href="#location" class="find-location-link">
      Find location
      <svg class="find-location-icon" width="24" height="24">
        <use href="../img/sprite.svg#icon-location"></use>
      </svg>
    </a>
    <img
      class="section-welcome-image"
      srcset="
        ../img/welcome/mob-welcome-1x.jpg 1x,
        ../img/welcome/mob-welcome-2x.jpg 2x
      "
      src="../img/welcome/mob-welcome-1x.jpg"
      alt=""
    />
  </div>
</section>
