.footer {
  background-color: #b58869;
  padding: 24px 0;
}

.footer-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #c29d84;
  border-radius: 40px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 32px 48px;
  height: 500px;
  margin-bottom: 32px;
}

.footer-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 32px;
}

.footer-logo {
  width: 146px;
  height: 84px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-icons,
.footer-anchor-links {
  transition: cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
}

.footer-anchor-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.footer-credits {
  text-align: center;
  font-size: 0.8em;
  font-size: 14px;
}

.footer-social-icons:hover,
.footer-social-icons:focus,
.footer-anchor-links:hover,
.footer-anchor-links:focus {
  opacity: 0.5;
  cursor: pointer;
  transition: cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
}

.footer-social-icons:active,
.footer-anchor-links:active {
  opacity: 0.8;
  transition: cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    width: 84px;
    height: 36px;
  }

  .footer-box {
    max-width: 720px;
    height: 156px;
    justify-content: space-around;
    gap: 32px;
  }

  .footer-images {
    flex-direction: row;
    margin-bottom: 0;
  }

  .footer-social-icons {
    width: 24px;
    height: 24px;
  }

  .footer-anchor-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .footer-box {
    max-width: 1320px;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px 32px 48px;
  }
}
