
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; 
  height: 100%; 
  background-color: #e0cbb4;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, visibility 0s linear 0.5s;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto; 
}

.mobile-menu.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
  pointer-events: auto;
}

.mobile-menu > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 0;
}

.close-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-content {
  display: flex;
  margin: auto;
  padding-bottom: 72px;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto;
}

.mob-nav-list-item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.mob-nav-list-item{
  display: flex;
  justify-content: center;
}

@media (min-width : 768px) {
  .mobile-menu{
    display: none;
  }
}

@media (min-width : 1440px) {
  .mobile-menu{
    display: none;
  }
}

/* #endregion style */
