.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.25);
}
.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal-backdrop {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0cbb4;
  border-radius: 40px;
  padding: 64px 16px;
  min-width: 288px;
  max-width: 343px;
  width: 100%;
  min-height: 631px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: opacity 350ms ease-in-out, visibility 350ms ease-in-out;
}

.close-modal-btn {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 32px;
  height: 32px;
}

.close-modal-svg {
  transition: opacity 350ms ease-in-out;
}

.close-modal-svg:hover,
.close-modal-svg:focus {
  opacity: 0.5;
}

.modal-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
  color: #0b0803;
}

.modal-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
  color: #0b0803;
}

.thumb {
  width: 100%;
}

.modal-img {
  border-radius: 24px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 100%;
  height: 100%;
}

.modal-btn {
  width: 100%;
  padding: 10px 24px;
  border-radius: 100px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin: 0 auto;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
}

.modal-btn:hover,
.modal-btn:focus {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .modal-backdrop {
    max-width: 704px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .modal-title {
    font-size: 36px;
  }
  .modal-text {
    font-size: 18px;
    margin-bottom: 48px;
  }
  .modal-img {
    border-radius: 40px;
    max-width: 644px;
    margin-bottom: 48px;
  }
  .modal-btn {
    max-width: 340px;
  }
}
@media only screen and (min-width: 1440px) {
  .modal-backdrop {
    max-width: 866px;
  }
  .modal-title {
    font-size: 48px;
  }
  .close-modal-btn {
    right: 75px;
  }

  .modal-btn {
    max-width: 274px;
  }
}
