.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.25);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.menu-backdrop {
  position: relative;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: #e0cbb4;

  border-radius: 40px;
  padding: 64px 16px;
  max-width: 288px;
  min-height: 631px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.close-additional-btn {
  position: absolute;
  top: 23px;
  right: 23px;

  width: 32px;
  height: 32px;
}

.additional-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
  color: #0b0803;
}

.additional-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;

  margin-bottom: 24px;
  color: #0b0803;
}

.thumb {
  border-radius: 24px;
  overflow: hidden;
  max-width: 256px;

  margin-bottom: 24px;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.additional-btn {
  min-width: 256px;
  padding: 10px 24px;
  border-radius: 100px;
  background-color: #6f4e37;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;

  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .menu-backdrop {
    max-width: 704px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .additional-title {
    font-size: 36px;
  }

  .additional-text {
    font-size: 18px;
    margin-bottom: 48px;
  }

  .thumb {
    border-radius: 40px;
    max-width: 644px;
    margin-bottom: 48px;
  }

  .additional-btn {
    min-width: 340px;
  }
}

@media only screen and (min-width: 1440px) {
  .menu-backdrop {
    max-width: 866px;
  }

  .additional-title {
    font-size: 48px;
  }

  .close-additional-btn {
    right: 75px;
  }
}
