.subcribe-wrapper {
  margin-bottom: 32px;
}
.join-subscribe-form {
  display: block;
  width: 100%;
}
.join-subscribe-wraper {
  display: flex;
  flex-direction: column;
}
.join-subscribe-label {
  position: relative;
}
.title-5 {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
  margin-bottom: 24px;
}
.join-card-img {
  border-radius: 40px;
  width: 100%;
}
.upper-text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: start;
}
.join-subscribe-input {
  border-radius: 12px;
  width: 100%;
  max-width: 375px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(11, 8, 3, 0.6);
  outline: transparent;
  border: 1px solid rgba(11, 8, 3, 0.15);
  padding: 8px 12px;
}
.join-subscribe-input:hover,
.join-subscribe-input:focus {
  border-color: #0b080326;
  color: #0b0803;
}
.join-subscribe-input::placeholder {
  color: rgba(11, 8, 3, 0.15);
  font-size: 12px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.04em;
  width: 288px;
  height: 40px;
}
.join-subscribe-input:invalid {
  border-color: #7f1c1c;
  color: #7f1c1c;
}
.join-subscribe-input:active::placeholder {
  color: #0b0803;
}
.error-message {
  color: #7f1c1c;
  line-height: 1.5;
  display: none;
  position: absolute;
  bottom: 5px;
  left: 1px;
  font-size: 12px;
  opacity: 0;
}
.join-subscribe-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  max-width: 375px;
  border: none;
  background-color: #6f4e37;
  margin-bottom: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}
.join-subscribe-icon {
  fill: #fff;
  margin-left: 12px;
}
.lower-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: start;
}
.join-subscribe-input:invalid + .error-message {
  color: #7f1c1c;
  display: block;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .join-card-img {
    width: 704px;
    height: 400px;
  }
  .join-wraper {
    margin-left: 32px;
    align-items: flex-start;
  }
  .join-subscribe {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .join-subscribe-wraper {
    flex-direction: row;
  }
  .join-subscribe-button {
    margin-left: 24px;
    width: 158px;
    height: 44px;
  }
  .join-subscribe-input {
    margin-bottom: 16px;
    width: 340px;
    height: 44px;
  }
  .join-subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }
  .error-message {
    color: #7f1c1c;
    line-height: 1.5;
    display: none;
    position: absolute;
    bottom: 0px;
    left: 1px;
    font-size: 12px;
    opacity: 0;
  }
}
@media screen and (min-width: 1440px) {
  .title-5 {
    font-size: 48px;
  }
  .join-subscribe-button {
    width: 158px;
    height: 44px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .join-subscribe-button:active {
    opacity: 0.7;
  }
  .join-subscribe-button:hover,
  .join-subscribe-button:focus {
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(11, 8, 3, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    opacity: 0.5;
  }
  .join-wraper {
    display: flex;
    align-items: center;
  }
  .subscribe-image {
    width: 640px;
  }
}
