.title-5 {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
  margin-bottom: 24px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .title-5 {
    font-weight: 400;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .title-5 {
    font-size: 48px;
  }
  .join-wraper {
    margin-top: 61.5px;
  }
}

.upper-text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.join-subscribe-input {
  border-radius: 12px;
  width: 288px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(11, 8, 3, 0.6);
  outline: transparent;
  border: 1px solid rgba(11, 8, 3, 0.15);
  padding: 8px 12px;
}

.join-subscribe-input::placeholder {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.04em;

  border-radius: 12px;

  width: 288px;
  height: 40px;
}

.join-subscribe-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 100px;
  padding: 10px 24px;
  width: 288px;
  height: 44px;
  border: none;

  background-color: #6f4e37;
  margin-bottom: 16px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 768px) {
  .join-subscribe-wraper {
    display: inline-flex;
  }
  .join-subscribe-button {
    margin-left: 24px;
    width: 158px;
    height: 44px;
  }
  .join-subscribe-input {
    margin-bottom: 16px;
  }
  .join-card-img {
    width: 704px;
    height: 400px;
  }
  .join-subscribe-input {
    width: 340px;
    height: 44px;
  }
  .join-subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .join-subscribe-button {
    width: 158px;
    height: 44px;
  }
  .join-subscribe-button:hover,
  .join-subscribe-button:focus {
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(11, 8, 3, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    opacity: 0.5;
  }
}

.join-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 16px;
}

.join-subscribe-icon {
  fill: #fff;

  margin-left: 12px;
}

.lower-text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.join-card-img {
  margin-top: 32px;
  border-radius: 40px;
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .join-wraper {
    margin-right: 32px;
    width: 640px;
    height: 277px;
  }
  .join-card-img {
    margin-top: 0;
    width: 640px;
    height: 400px;
  }
}
