.container-welcome-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    max-width: 288px;
    margin: 0 auto;
}

.wrapper {
    margin-bottom: 32px;
}

.welcome-kicker {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.section-welcome-title {
    font-family: "Aboreto", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
}

.section-welcome-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.find-location-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    min-height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6f4e37;
    transition: background-color 250ms;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    white-space: nowrap;
}


.find-location-icon {
    fill: #fff;
    width: 24px;
    height: 24px;
}

.section-welcome-image {
    width: 100%;
    display: block;
    border-radius: 40px;
}

.find-location-link:hover {
    background: #8b5e3c;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .container-welcome-title {
        max-width: none;
        margin: 0 auto;
        align-items: start;
    }

    .wrapper {
        display: flex;
        column-gap: 32px;
        margin-bottom: 32px;
    }

    .wrapper-item {
        width: 336px;
    }


    .welcome-kicker {
        display: block;
        font-size: 16px;
        margin-bottom: 16px;
    }


    .section-welcome-title {
        font-size: 36px;
        text-align: left;
        line-height: 1.2;
        letter-spacing: -0.1;
    }

    .section-welcome-text {
        margin-bottom: 32px;
        max-width: 336px;

    }

    .find-location-link {
        width: 181px;
    }

    .section-welcome-image {
        object-fit: none;
        border-radius: 40px;
    }
}

@media only screen and (min-width: 1440px) {
    .wrapper {

        margin-bottom: 80px;
    }

    .wrapper-item {
        width: 640px;
    }

    .section-welcome-title {
        font-size: 48px;
    }

    .section-welcome-text {
        max-width: 640px;
        font-size: 20px;
        line-height: 1.6;
    }

}